<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DashControl | Cooperativa Coopsul</title>
  <!-- <link rel="stylesheet" href="./static/css/main_style.css"> -->  

</head>
<body>

  <div class="container">
    <h1>Cooperativa de Materiais Recicláveis de Cruzeiro do Sul</h1>
    <p class="subtitulo">Gerencie e monitore todas as atividades de coleta de materiais recicláveis</p>

    <div class="card">

      <h2>Menu Principal</h2>

      <div class="menu-botoes">

        <button class="botao verde_escuro" onclick="alert('Página Coletas')">
          <span>Coletas</span>
        </button>

        <button class="botao verde_escuro" onclick="alert('Página Cooperados')">
          <span>Cooperados</span>
        </button>

        <button class="botao verde_escuro" onclick="alert('Página Empresas')">
          <span>Empresas</span>
        </button>

        <!--
        <button class="botao verde">
          <i data-lucide="box"></i>
          <span>Coletas</span>
        </button>
        -->

      </div>
    </div>
  </div>

  <script>
  <!-- lucide.createIcons(); -->

  </script>
</body>
</html>
